@@include('template/sub/top.html')

<div class="one-fifth column">
	<nav class="menu">
		<a class="menu-item" href="/">Kram</a>
		<a class="menu-item selected" href="/docs.html">Documentation</a>
		<a class="menu-item" href="https://github.com/kram/kram">GitHub</a>
	</nav>

	<nav class="menu">
		<a class="menu-item" href="#getting-started">Getting started</a>
		<a class="menu-item" href="#control-flow">Control flow</a>
		<a class="menu-item" href="#types">Types</a>
		<a class="menu-item" href="#types-number">Number</a>
		<a class="menu-item" href="#types-string">String</a>
		<a class="menu-item" href="#types-bool">Bool</a>
		<a class="menu-item" href="#types-map">Map</a>
		<a class="menu-item" href="#types-list">List</a>
		<a class="menu-item" href="#types-function">Function</a>
		<a class="menu-item" href="#class">Class</a>
	</nav>
	</div>
	<div class="four-fifths column" id="main-body">
		@@include('build/docs.html')
	</div>
</div>
	
@@include('template/sub/bottom.html')