@@include('template/sub/top.html')

<a id="forkme-banner" href="https://github.com/kram/kram">
	<img style="position: absolute; top: 0; right: 0; border: 0;" width="150" height="150" src="/images/forkme.png" alt="Fork kram on GitHub">
</a>

<div class="one-fifth column">
	<nav class="menu">
		<a class="menu-item selected" href="/">Kram</a>
		<a class="menu-item" href="/docs.html">Documentation</a>
		<a class="menu-item" href="https://github.com/kram/kram">GitHub</a>
	</nav>
	</div>
	<div class="four-fifths column" id="main-body">
		@@include('build/index.html')
	</div>
</div>
	
@@include('template/sub/bottom.html')