code {
	padding: 0.2em;
	font-size: 85%;
	background-color: #E6E6E6;
	font-weight: bold;
}

pre code {
	font-size: 100%;
	background: transparent;;
	padding: 0;
	font-weight: normal;
}

pre {
	padding: 16px;
	overflow: auto;
	background-color: #272822;
	color: white;
}

.highlight {

	/* Strings */
	.s {
		color: #E6DB74;
	}

	/* Keywords */
	.k, .kd {
		color: #F92672;
	}

	/* Numbers */
	.mi, .mf {
		color: #AE81FF;
	}

	/* Comments */
	.c1 {
		color: #75715E;
	}

	/* Names */
	.nx {
		color: #FD971F;
	}

	/* bool */
	.kc {
		color: #F92672;
	}
}