---
layout: default
permalink: /docs/
---

<h1>Documentation</h1>

<h2>Getting started</h2>

{% for post in site.categories.getting-started reversed %}
 	<li>
		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</li>
{% endfor %}

<h2>Types</h2>

{% for post in site.categories.types reversed %}
	<li>
		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</li>
{% endfor %}


<h2>Standard Libraries</h2>

{% for post in site.categories.std reversed %}
	<li>
		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	</li>
{% endfor %}