<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<header>
			<div class="container">
				<a href="/">
					<img src="/assets/general/logo-white-128.png">
				</a>
			</div>
		</header>

		<div class="container">
			<div class="columns">
				<div class="one-fifth column">
					<nav class="menu">
						<a class="menu-item selected" href="/">Kram</a>
						<a class="menu-item" href="/getting-started/getting-started.html">Getting started</a>
						<a class="menu-item" href="/documentation.html">Documentation</a>
						<a class="menu-item" href="https://github.com/kram/kram">GitHub</a>
					</nav>

					{% for category in page.categories %}
						<nav class="menu">
							<a class="menu-item selected" href="#">{{ category }}</a>

							{% for post in site.categories[$category] | sort:"weight" %}
								<a class="menu-item" href="{{ post.url }}">{{ post.title }}</a>
							{% endfor %}
						</nav>
					{% endfor %}
				</div>

				<div class="four-fifths column" id="main-body">
					{{ content }}
				</div>
			</div>

		</div>

		{% include footer.html %}

	</body>
</html>
